name: Update Version Tags

on:
  workflow_call:
    inputs:
      version:
        description: "Semver version (e.g., 1.0.0)"
        required: true
        type: string

jobs:
  update-tags:
    name: Update version tags
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - name: Update Tags
        uses: cssnr/update-version-tags-action@1ff20ac5555f024f5e72b7ccdf165b867878f953 # v2
        with:
          tag: v${{ inputs.version }}
          major: true
          minor: true
